<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="5">
    <listeners>
        <listener class-name="com.tmb.listeners.ListenerClass"/>
        <listener class-name="com.tmb.listeners.MethodInterceptor"/>
        <listener class-name="com.tmb.listeners.AnnotationTransformer"/>
    </listeners>

    <test thread-count="1" name="Test" parallel="methods">
        <classes>
            <class name="com.tmb.tests.OrangeHRMTests"/>
            <class name="com.tmb.tests.AmazonDemoTest"/>
            <class name="com.vgc.web.tests.DPLandingPageTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
